.heading {
  font-family: 'Optima', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 90px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px #fff1f1;
  text-align: center;
}

html, body {
  font-family: 'Average', serif;
  background-color: rgb(255, 239, 213) !important;
}

.btn-approve {
  color: white;
  background-color: #59520c;
 
  width: 150px;
}

.btn-approve:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
}

.app-text {
  font-family: 'Numans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  
}

.text {
  font-family: 'Numans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #5a6c21;
}